<div class="form">

    <h3>FORM CONTROL</h3>

    <app-input id="name" label="Name" placeholder="Enter your name" type="text" name="name"></app-input>

    <app-input id="password" label="password" placeholder="Enter your password" type="password" name="password">
    </app-input>

    <app-input id="email" label="E-mail" placeholder="Enter your Email Address" type="email" name="email"></app-input>

    <app-input id="date" label="Date of Birth" placeholder="Enter your DOB" type="date" name="date"></app-input>

    <section>
        <span>Hobbies:</span>
        <app-input id="hobby1" label="Singing" placeholder="" type="checkbox" name="hobbies"></app-input>
        <app-input id="hobby2" label="Dancing" placeholder="" type="checkbox" name="hobbies"></app-input>
        <app-input id="hobby3" label="Playing" placeholder="" type="checkbox" name="hobbies"></app-input>
    </section>

    <section>
        <span>Gender: </span>
        <app-input id="male" label="Male" placeholder="" type="radio" name="gender"></app-input>
        <app-input id="female" label="Female" placeholder="" type="radio" name="gender"></app-input>
    </section>
    <button type="button">Submit</button>
</div>